.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 158px;
}

.cardDescWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cardDescWrapper h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img {
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.02);
}

.imgWrapper {
    overflow: hidden;
    border-radius: 10px;
}

.inSubscribe {
    color: #7A5AF5;
    font-weight: 700;
    font-size: 14px;
}
