.cardWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 158px;
    animation: 0.7s ease cardAnim;
}

.cardDescWrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.cardDescWrapper h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img {
    border-radius: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.img:hover {
    transform: scale(1.02);
}

.imgWrapper {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.imgWrapper span {
    position: absolute;
    left: 5px;
    top: 5px;
    font-weight: 700;
    color: white;
    font-size: 12px;
    background: #1D79D2;
    border: none;
    border-radius: 5px;
    padding: 4px 5px;
    z-index: 10;
}

.inSubscribe {
    color: #1D79D2;
    font-weight: 700;
    font-size: 14px;
}

@keyframes cardAnim {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

