.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.contentContainer>div {
    max-width: 600px;
}

.filmNamgeImg {
    max-height: clamp(1.063rem, 0.536rem + 2.632vw, 1.688rem);
    max-width: clamp(16.875rem, 13.191rem + 18.421vw, 21.25rem);
    display: block;
    object-fit: contain;
}

.rating {
    display: flex;
    gap: 10px;
}

.rating span {
    color: #1D79D2;
}

.characteristic {
    word-spacing: 5px;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    fill: white;
    color: white;
    gap: 10px;
}

@media (max-width: 1000px) {
    .contentContainer {
        align-items: center;
        text-align: center;
    }
}