


.container{
    align-items: start;
    margin: 130px 60px;
    transition: all 0.8s ease;
}

/* .categoryString {
    display: flex;
    gap: 30px;
    transition: all 1.2s ease;
} */


.spinner{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.skeletonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nextButton,
.nextButton1 {
    position: absolute;
    right: 0;
    height: 195px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: -150px 0 20px -100px #111111 inset;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s ease;
    animation: 0.4s ease buttonAnim;
}

.nextButton1 {
    top: 430px;
    height: 280px;
    z-index: 2000;
}

.backButton,
.backButton1 {
    position: absolute;
    left: 0;
    height: 195px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 150px 0 20px -100px #111111 inset;
    cursor: pointer;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.2s ease;
    animation: 0.4s ease buttonAnim;
}

.backButton1 {
    top: 430px;
    height: 280px;
    z-index: 2000;
}

.backButton:hover {
    box-shadow: 160px 0 20px -100px #111111 inset;
}

.nextButton:hover {
    box-shadow: -160px 0 20px -100px #111111 inset;
}

@keyframes buttonAnim {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.mySwiper {
    width: 100%;
}

.swiper {
    width: 100%;
}