.container{
    padding: 100px 60px 30px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.spinner{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
