.stringMoviesWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
}

.listMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.rec {
    pointer-events: none;
}