.container{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255 255 255 / 3%);
    border-radius: 2.4rem;
    height: 160px;
    max-width: 500px;
    padding: 20px 24px 24px;
}
.container > h3 {
    font-size: 38px;
    color: #1D79D2;
}
.container > p {
    font-size: clamp(0.813rem, 0.655rem + 0.789vw, 1rem);
}
h2{
    margin-top: 50px;
}