.mainButton {
    font-size: clamp(1rem, -0.75rem + 4.667vw, 1.575rem);
    font-weight: 700;
    line-height: 36px;
    padding: max(12px, 1.18vw) max(20px, 2.12vw);
    border: none;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to right, #481FE8, #7A5AF5, #CDC2F4 100%);
    cursor: pointer;
}