
.mainButton {
    font-size: clamp(1rem, -0.75rem + 4.667vw, 1.275rem);
    font-weight: 700;
    line-height: 36px;
    background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
    border: none;
    border-radius: 50px;
    padding: max(12px, 0.18vw) max(20px, 2.12vw);
    color: rgba(var(--text-color));
    cursor: pointer;
    transition: all 0.2s ease;
}

.mainButton:hover {
    box-shadow: rgba(111, 76, 255, 0.5) 0px 0px 20px 0px;
}