

.favoritePageWrapper {
    display: flex;
    justify-content: center;
    margin: 80px 0 60px 0;
    width: 100%;
 }
 
 .favoritePageWrapperInset {
     display: flex;
     flex-direction: column;
     width: 90%;
     gap: 30px;
 }

 
.listMovies {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.listMovies h2 {
    color: #4e4e4edf;
}