.footerWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border-top: 1px solid #404040;
    padding: 20px;
    min-height: 150px;
    
}

.whoWorks {
    color: rgb(209, 209, 209);
}

.outContacts {
    color: #737373;
}

.authors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.author {
    display: flex;
    align-items: center;
    gap: 5px;
}

.iconImg {
    width: 25px;
    height: 25px;
}

.moreInfo {
    color: white;
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.moreInfo:hover {
    color: #1D79D2;
    fill: #1D79D2;
}

.moreInfoLink {
    text-decoration: none;
}