
.loader {
    width: 195px;
    height: 195px;
    display: block;
    /* margin: auto; */
    position: relative;
    backdrop-filter: blur(9px) saturate(200%);
    -webkit-backdrop-filter: blur(9px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgb(46, 46, 46);
  }
  .loader::after {
    content: '';
    width: 195px;
    height: 195px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(67, 67, 67, 0.5) 70%, transparent 100%);
    background-repeat: no-repeat;
    background-size: 75px 200px, 100% 200px, 100% 160px, 100% 300px;
    background-position: -185px 0, center 0, center 115px, center 142px;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
    transition-duration: 2s;
  }
  
  @keyframes animloader {
    to {
      background-position: 185px 0, center 0, center 115px, center 142px;
    }
  }